n8n/si.json
{
  "meta": {
    "instanceId": "074f90e2bb5206c5f405a8aac6551497c72005283a5405fb08207b1b3a78c2b8"
  },
  "nodes": [
    {
      "id": "d1b47f60-5a4d-4629-a18d-b3c6ec0c972c",
      "name": "Knowledge Base Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1140,
        340
      ],
      "parameters": {
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Eres un asistente de IA para la empresa CIEC. Tu trabajo es responder preguntas de los empleados. Cuando necesites información sobre órdenes de compra, productos, solicitudes o cualquier otra cosa, debes usar la herramienta `consultar_base_de_datos` para ejecutar una consulta SQL. Formula una consulta SQL válida y precisa para obtener la información. Responde en español y sé breve y directo."
        },
        "promptType": "define"
      },
      "typeVersion": 1.9
    },
    {
      "id": "a79b9b58-0211-4570-af84-64db8bef9de3",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1240,
        520
      ],
      "parameters": {
        "sessionKey": "=memory_{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "sessionIdType": "customKey"
      },
      "typeVersion": 1.3
    },
    {
      "id": "ddc0fdb7-bacc-4f41-87bf-48bb714a404d",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        560,
        340
      ],
      "parameters": {
        "updates": [
          "messages"
        ]
      },
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "eb1MSQfEla9dGghs",
          "name": "WhatsApp OAuth account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "cf603f5c-0a6e-4cdd-846b-738ed417daa2",
      "name": "Get Text from Message",
      "type": "n8n-nodes-base.set",
      "position": [
        860,
        340
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38aec976-a32c-4b0e-85f4-c90adc16abc9",
              "name": "text",
              "type": "string",
              "value": "={{ $json.messages[0].text.body }}"
            }
          ]
        },
        "options": {
          "keepOnlySet": true
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "acc8e4ae-0610-42fc-a318-b9a23a38919b",
      "name": "Send Response",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        1440,
        340
      ],
      "parameters": {
        "textBody": "={{ $json.output }}",
        "operation": "send",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}"
      },
      "credentials": {
        "whatsAppApi": {
          "id": "HuYOJ00weACKEFR6",
          "name": "WhatsApp account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "3e9b1f8c-c6c7-43c2-a9b0-951fd4d55d7f",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGenerativeAi",
      "position": [
        1140,
        520
      ],
      "parameters": {
        "model": "gemini-pro",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "YOUR_GEMINI_CREDENTIAL_ID",
          "name": "My Gemini"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "1d8b9e6a-3a7b-4d4e-8c4d-b08e5e1a2f9a",
      "name": "Supabase Tool: Consultar DB",
      "type": "n8n-nodes-base.supabase",
      "position": [
        1320,
        520
      ],
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "",
        "options": {},
        "toolName": "consultar_base_de_datos",
        "toolDescription": "Usa esta herramienta para ejecutar consultas SQL en la base de datos de la empresa. Puedes usarla para responder preguntas sobre órdenes de compra, solicitudes, inventario, productos y empleados. Formula una consulta SQL válida para obtener la información."
      },
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "My Supabase"
        }
      },
      "typeVersion": 2.2
    }
  ],
  "pinData": {},
  "connections": {
    "Knowledge Base Agent": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Get Text from Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Text from Message": {
      "main": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Tool: Consultar DB": {
      "ai_tool": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  }
}